<?xml version="1.0"?>
<configuration>
	<location path="index.aspx">
		<system.web>
			<compilation defaultLanguage="c#"/>
		</system.web>
	</location>
	<connectionStrings>
		<remove name="LocalSqlServer"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" defaultLanguage="c#" tempDirectory="D:\TempASP.NET">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<globalization culture="auto" enableClientBasedCulture="true" fileEncoding="utf-8" uiCulture="auto"/>
		
	</system.web>
	<system.codedom>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By"/>
			</customHeaders>
		</httpProtocol>
		<modules>
			<add name="RemoveIIS7ServerHeader" type="RemoveIIS7ServerHeader.CustomHeaderModule" preCondition="managedHandler"/>
		</modules>
	</system.webServer>
</configuration>
